@charset "utf-8";

/* これはclub_join内の上5個のためのcssです */
/* 否認理由 */
.notcreate{
    margin-top: 30px;
    text-align: center;
}

.h2 {
    font-size: 25px;
}

.notcreateteble{
    text-align: center;
    margin: auto;
}

span{
    padding-right: 1em;
    float: right;
}

.noth{
    vertical-align: top;
}

.noku{
    height: 20px;
}

.notcreateinput{
    width: 550px;
}

.notxtara{
    resize: none;
    width:550px;
    height:250px;
}

.nobtn{
    margin-top: 20px;
    margin-right: 85px;
    margin-bottom: 80px;
    font-size: 25px;
    color: #0693E3;
    width: 170px;
    height: 60px;
    border-radius:30px;
    border: solid 5px;
    background-color: #FFFFFF;
    border-color: #0693E3;
}

.nobtn:hover{
    color: #FFFFFF;
    background-color: #0693E3;
}

/* 否認理由確認 */

.conf{
    margin-top: 30px;
    text-align: center;
}

.conftable{
    text-align: center;
    margin: auto;
}

.confth{
    vertical-align: top;
}

.confinput{
    width: 550px;
}

.confku{
    height: 20px;
}

.conftextarea{
    resize: none;
    width:550px;
    height:250px;
}

.confbtn{
    margin-top: 20px;
    margin-right: 85px;
    margin-bottom: 80px;
    font-size: 25px;
    color: #0693E3;
    width: 170px;
    height: 60px;
    border-radius:30px;
    border: solid 5px;
    background-color: #FFFFFF;
    border-color: #0693E3;
}

.confbtn:hover{
    color: #FFFFFF;
    background-color: #0693E3;
}


/* 完了 */
.res{
    text-align: center;
    margin-top: 230px;
}

.resp{
    font-size: 30px;
}

#resbtn{
    margin-top: 30px;
    font-size: 25px;
    text-decoration: none;
    color: #0693E3;
    width: 200px;
    height: 60px;
    border-radius:30px;
    border: solid 5px;
    background-color: #FFFFFF;
    border-color: #0693E3;
}

#resbtn:hover{
    color: #FFFFFF;
    background-color: #0693E3;
}

/* 戻るボタン */
#bkbtn {
    float: left;
    margin-left: 80px;
  }
  
  #back {
    text-decoration: none;
    font-size: 25px;
    color: black;
    border: none;
    outline: none;
    background: none;
  }

