@charset "utf-8";

@charset "utf-8";

/* 確認画面 */
.class {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
}

.btns {
    position: relative;
    margin-top: 100px;
    width: 500px;
}

.button1{
    float: left;
    font-size: 25px;
    color: #0693E3;
    width: 170px;
    height: 60px;
    border-radius:30px;
    border: solid 5px;
    background-color: #FFFFFF;
    border-color: #0693E3;
}

.button1:hover{
    background-color: #0693e3;
    color: #ffffff;
}

.button2{
    float: right;
    font-size: 25px;
    color: #0693E3;
    width: 170px;
    height: 60px;
    border-radius:30px;
    border: solid 5px;
    background-color: #FFFFFF;
    border-color: #0693E3;
}

.button2:hover{
    background-color: #0693e3;
    color: #ffffff;
}

#bkbtn {
    float: left;
    padding-left: 20px;
}

#back {
    text-decoration: none;
    font-size: 25px;
    color: black;
    border: none;
    outline: none;
    background: none;
}

/* 完了画面 */
.div1{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
}
.p{
    position: relative;
    font-size: 30px;
}

#btn {
    margin-top: 60px;
    font-size: 25px;
    color: #0693E3;
    width: 220px;
    height: 60px;
    border-radius:30px;
    border: solid 5px;
    background-color: #FFFFFF;
    border-color: #0693E3;
  }

#btn:hover{
    color: #FFFFFF;
    background-color: #0693E3;
  }