@charset "utf-8";
/* 2以外のpassword_resetのcssです */

.rph3{
    text-align: center;
    margin-top: 50px;
}

.passform{
    text-align: center;
    margin-top: 30px;
}

.passp{
    font-size: 20px;
}

.input1{
    margin-top: 30px;
    font-size: 17px;
    width: 450px;
    height: 40px;
}

.inputbtn{
    margin-top: 50px;
    font-size: 20px;
    color: #0693e3;
    width: 150px;
    height: 50px;
    border-radius:30px;
    border: solid 5px;
    background-color: #ffffff;
    border-color: #0693e3;
}

.inputbtn:hover{
    color: #ffffff;
    background-color: #0693e3;
}

.reform{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
}


.reform form {
    position: relative;
    margin-top: 50px;
}

.input2{
    width: 450px;
    height: 40px;
}

.input3{
    width: 450px;
    height: 40px;
}

.tbl th {
    width: 120px;
}

.tbl td {
    padding: 1em;
    margin-left: -50px;
}

.rebtn{
    margin-top: 50px;
    font-size: 20px;
    color: #0693e3;
    width: 150px;
    height: 50px;
    border-radius:30px;
    border: solid 5px;
    background-color: #ffffff;
    border-color: #0693e3;
}

.rebtn:hover{
    color: #ffffff;
    background-color: #0693e3;
}

.rediv1{
    text-align: center;
}

.rep1{
    font-size: 25px;
    margin-top: 5em;
}

.rea{
    margin-top: 7em;
}

.rea1{
    display: block;
    font-size: 20px;
    width: 150px;
    height: 50px;
    padding-top: 7px;
    margin: auto;
    color: #0693e3;
    background-color: #ffffff;
    text-decoration: none;
    border-radius:30px;
    border: #0693e3 solid 5px;
}

.rea1:hover{
    color: #ffffff;
    background-color: #0693e3;
}


.sendform {
    margin-top: 80px;
    text-align: center;
}

.form1 {
    margin-top: 80px;
    text-align: center;
}

#p1 {
    font-size: 23px;
}

.inp {
    font-size: 18px;
    width: 420px;
    height: 50px;
    border: 1px solid #000000;
}


/* 戻る */
#bkbtn {
    float: left;
    margin-left: 80px;
}

#back {
    text-decoration: none;
    font-size: 25px;
    color: black;
    border: none;
    outline: none;
    background: none;
}