{% extends "layout.html" %}

{% block css %}
<link rel="stylesheet" href="{{url_for('static', filename='/css/repass.css')}}">
{% endblock %}

{% block content %}
<body>
    <div id="bkbtn">
        <button id="back" onclick="history.back()">←戻る</button>
    </div>
    <br>
    <form class="form1" action="{{url_for('account.password_reset3')}}" method="post">
        <p id="p1">6桁のコードを入力してください</p><br>
        <input class="inp" type="number" maxlength="6" name="otp"><br>
        <button class="inputbtn" type="submit">送信</button>
    </form>
</body>
{% endblock %}