{% extends "layout_teacher.html" %}

{% block css %}
<link rel="stylesheet" href="{{url_for('static', filename='/css/club_create.css')}}">
<link rel="icon" href="{{url_for('static', filename='/favicon/favicon.ico')}}">
{% endblock %}

{% block content %}
  <div id="bkbtn">
    <a id="back" href="{{url_for('app_data.club_not_create_conf')}}">←戻る</a>
  </div>
  <br>
  <div class="conf">
    <h2 class="h2">否認理由入力内容確認</h2>
    <br>
    <table class="conftable">
      <tr>
        <th><span>件名</span></th>
        <td><input class="confinput" type="text" value="サークルの立ち上げ申請について" readonly></td>
      </tr>
      <tr>
        <td class="confku">
      </tr>
      <tr>
        <th class="confth"><span>否認理由</span></th>
        <td>
          <form action="{{ url_for('app_data.club_not_create_exe') }}" method='POST'>
            <textarea class="conftextarea" type="text" name="reason" value="{{reason}}" readonly>{{reason}}</textarea>
            <br>
            <button class="confbtn" type="submit">送信</button>
          </form>
        </td>
      </tr>
    </table>
  </div>

{% endblock %}

