<!DOCTYPE html>
{% extends "layout_teacher.html" %}

{% block css %}
<link rel="stylesheet" href="{{url_for('static', filename='/css/club_create.css')}}">
<link rel="icon" href="{{url_for('static', filename='/favicon/favicon.ico')}}">
{% endblock %}

{% block content %}
  <div id="bkbtn">
    <a id="back" href="{{url_for('app_data.club_not_create_conf')}}">←戻る</a>
  </div>
  <br>
  <div class="notcreate">
    <h2 class="h2">否認理由入力画面</h2>
    <br>
    <table class="notcreateteble">
      <tr>
        <th id="th"><span>件名</span></th>
        <td id="td1"><input class="notcreateinput" type="text" value="サークルの立ち上げ申請について" readonly></td>  
      </tr>
      <tr>
        <td class="noku"></td>
      </tr>
      <tr>
        <th class="noth"><span>否認理由</span></th>
        <td id="td2">
          <form action="{{ url_for('app_data.club_not_create_conf') }}" method="post">
            <textarea class="notxtara" type="text" name="reason" placeholder = "否認理由を入力してください"></textarea>
            <br>
            <button class="nobtn" type="submit">確認</button>
          </form>
        </td>
      </tr>
    </table>
  </div>
{% endblock %}
