{% extends "layout_leader.html" %}

{% block css %}
<link rel="stylesheet" href="{{url_for('static', filename='/css/join_req.css')}}">
<link rel="icon" href="{{url_for('static', filename='/favicon/favicon.ico')}}">
{% endblock %}


{% block content %}
  <div id="bkbtn">
    <button id="back" onclick="location.href='{{url_for('leader.request_list')}}'">←戻る</button>
  </div>
  <br>
  <div class="no">
    <h3>否認理由入力画面</h3>
      <table class="notable">
        <tr>
          <th>件名</th>
          <td><input class="noinput" type="text" value="サークルの参加申請について" required></td>
        </tr>
        <tr>
          <td class="noku"></td>
        </tr>
        <tr>
          <th class="noth">否認理由</th>
          <td>
            <form action="{{ url_for('club2.join_req_noexe') }}" method="POST">
              <textarea class="notxtara" type="text" name="reason" placeholder= "否認理由を入力してください" required ></textarea>
              <br>
              <input class="okinput" type="hidden" name="student_id" value="{{student}}" readonly>
              <button class="nobtn" type="submit">確認</button>
            </form>
          </td>
        </tr>
      </table>
  </div>


{% endblock %}
