{% extends "layout_leader.html" %}

{% block css %}
<link rel="stylesheet" href="{{url_for('static', filename='/css/request_list.css')}}">
<link rel="icon" href="{{url_for('static', filename='/favicon/favicon.ico')}}">
{% endblock %}


{% block content %}
<div id="bkbtn">
    <form action="{{url_for('backtop_leader')}}" method="post">
        <input type="hidden" name="student" value="{{student[0]}}">
      <button type="submit" id="back" >←戻る</button>
    </form>
</div>
<br>
<div class="club">
    <h3>参加申請一覧</h3>
    <div>
                <table id="tbl">
                        <tr>
                          <th class="th1">名前</th>
                          <th class="th2">メールアドレス</th>
                          <th class="th3">入学年度</th>
                          <th class="th4">学科</th>
                          <th class="th5"></th>
                        </tr>
                        <tr>
                            <td>{{student[1]}}</td>
                            <td>{{student[2]}}</td>
                            <td>{{student[4]}}</td>
                            <td>{{department}}</td>
                            <td>
                                <form action="{{ url_for('club2.join_req') }}" method='post'>
                                    <input type="hidden" name="student_id" value="{{student[0]}}" readonly>
                                    <button class="yesbtn" type="submit" name="approve" value="1">承認</button>
                                    <button class="nobtn0" type="submit" name="approve" value="0">否認</button>
                                </form>
                            </td>
                        </tr>
                </table>
            </div>
        </div>
    </div>
</div>
{% endblock %}